In [1]:
import pandas as pd
import numpy as np

In [2]:
dom_change_data = pd.read_csv('Resources/dom_change_percent.csv')

In [3]:
dom_clean_data=pd.read_csv('Resources/dom_clean_data.csv')

In [4]:
int_clean_data=pd.read_csv('Resources/int_clean_data.csv')

In [5]:
dom_change_data.head()

,Unnamed: 0,country,price_type,market,commodity,percent,post_covid,yearly
0,0,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,NaN,-0.061538,-0.031746
1,1,Cameroon,Retail,YaundÃ©,Bananas (plantains),NaN,0.000000,0.000000
2,2,Cameroon,Retail,Bafoussam,Bananas (plantains),NaN,-0.305556,0.041667
3,3,Morocco,Retail,National Average,Barley (imported),NaN,-0.034483,-0.034483
4,4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),NaN,0.769231,0.232143

In [6]:
dom_change_data['country'].unique()

array(["Cote d'Ivoire", 'Cameroon', 'Morocco',
       'Democratic Republic of the Congo', 'Rwanda', 'Costa Rica',
       'United Republic of Tanzania', 'Uganda', 'Haiti',
       'Dominican Republic', 'Guatemala', 'Mexico', 'Panama',
       'El Salvador', 'Honduras', 'Nicaragua', 'Iraq', 'Argentina',
       'Egypt', 'Azerbaijan', 'Botswana', 'Georgia', 'Kazakhstan',
       'Kyrgyzstan', 'Mauritania', 'Mongolia', 'Afghanistan',
       'Tajikistan', 'Russian Federation', 'South Africa', 'Tunisia',
       'Bolivia', 'Chile', 'Zimbabwe', 'Israel', 'Peru', 'Brazil',
       'Eswatini', 'Belarus', 'Armenia', 'Occupied Palestinian Territory',
       'Japan', 'Zambia', 'South Sudan', 'Mozambique', 'Angola',
       'Thailand', 'Paraguay', 'Benin', 'Cabo Verde', 'Togo', 'Ghana',
       'Malawi', 'Yemen', 'Samoa', 'India', 'Saudi Arabia', 'Myanmar',
       'Nigeria', 'Burundi', 'Chad', 'Ecuador', 'Ethiopia', 'Kenya',
       'Niger', 'Guinea', 'Colombia', 'Philippines', 'Somalia', 'Namibia',
       'Senegal', 'Sudan', 'Burkina Faso', 'Mali', 'Sierra Leone',
       'Cambodia', 'Indonesia', 'Uruguay', 'China', 'Bangladesh',
       "Lao People's Democratic Republic", 'Pakistan', 'Nepal', 'Liberia',
       'Italy', 'Sri Lanka', 'Ukraine', 'Uzbekistan'], dtype=object)

In [7]:
dom_clean_data.head()

   Unnamed: 0     month        country price_type   market  commodity  price
0           0  6/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©    NaN
1           1  5/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©   0.61
2           2  4/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©   0.59
3           3  3/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©   0.61
4           4  2/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©   0.63

In [8]:
dom_clean_data['commodity'].unique()

array(['AttiÃ©kÃ©', 'Bananas (plantains)', 'Barley (imported)',
       'Banana (plantains)', 'Barley (local)', 'Beans', 'Beans (black)',
       'Beans (poroto)', 'Beans (red)', 'Beans (wild)', 'Beans (white)',
       'Beef meat', 'Bread', 'Bread (Sabbath loaf)',
       'Bread (French type)', 'Bread (brown)', 'Bread (high grade flour)',
       'Bread (first grade flour)', 'Bread (white)', 'Cabbage',
       'Breakfast maize meal', 'Camel meat', 'Cassava', 'Cassava (dry)',
       'Cassava (flour)', 'Cassava (fresh)', 'Cassava (gari)',
       'Cassava (manioc)', 'Cassava (root)', 'Chicken (without offals)',
       'Chicken (processed)', 'Chicken meat', 'Chickpeas', 'Lentils',
       'Lamb meat', 'Groundnuts', 'Groundnut Oil', 'Gari (white)', 'Gram',
       'Maize', 'Maize (flour)', 'Maize (local)', 'Maize (white)',
       'Maize (white flour)', 'Maize (yellow)', 'Maize (yellow flour)',
       'Maize meal', 'Maize meal (local)', 'Milk', 'Milk (Camel)',
       'Milk (powder)', 'Millet', 'Mutton meat', 'Olive Oil', 'Palm Oil',
       'Onions', 'Pasta', 'Plantains', 'Pork meat',
       'Pork meat with bones', 'Potatoes', 'Quinoa', 'Potatoes (white)',
       'Prawn', 'Rice', 'Radish', 'Rice (imported)', 'Rice ', 'Samp',
       'Sorghum', 'Semolina', 'Soya beans', 'Sugar', 'Tortillas',
       'Tomatoes', 'Taro', 'Teff (mixed)', 'Wheat', 'Vegetable oil',
       'Wheat (flour)', 'Wheat (milling soft)', 'Wheat (white)',
       'White roller maize meal', 'Yam'], dtype=object)

In [9]:
value_fix={'AttiÃ©kÃ©':'Attieke'}

dom_clean_data['commodity'] = dom_clean_data['commodity'].replace(value_fix)

In [10]:
dom_clean_data=dom_clean_data.dropna()

In [11]:
dom_clean_data.head()

   Unnamed: 0     month        country price_type   market commodity  price
1           1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2           2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3           3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4           4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
5           5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.68

In [12]:
dom_clean_data['market'].unique()

array(['Abidjan', 'YaundÃ©', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Mombasa',
       'Nakuru', 'Ruhengeri', 'Dar es Salaam', 'Lira', 'Kampala',
       'Cap Haitien', 'Santo Domingo', 'Guatemala City', 'Ouanaminthe',
       'Les Cayes', 'Jeremie', 'Jacmel', 'Hinche', 'Port-au-Prince',
       'Guadalajara', 'Puebla', 'Mexico City', 'Xalapa', 'Panama City',
       'San Salvador', 'Garoua', 'San Pedro Sula', 'Tegucigalpa',
       'Managua (oriental)', 'Greater Buenos Aires', 'Aktau', 'Almaty',
       'Kostanay', 'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad',
       'Naryn', 'Osh', 'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii',
       'Jalalabad', 'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar',
       'Uvurkhangai', 'Potosi', 'Santiago', 'Bulawayo', 'Manicaland',
       'Harare', 'Mash east', 'Mash central', 'Masvingo', 'Mash west',
       'Lima', 'SÃ£o Paulo', 'Mat north', 'Mat south', 'Midlands',
       'Hhohho', 'Manzini', 'Lubombo', 'Minsk', 'National average',
       'Shiselweni', 'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka',
       'Buchanan', 'Monrovia', 'Saclepea', 'Bo', 'Freetown', 'Kailahun',
       'Koinadugu', 'Juba', 'Kenema', 'Nampula', 'Luanda', 'Bangkok',
       'AsunciÃ³n', 'Cotonou', 'S.Vincente', 'Natitingou', 'Parakou',
       'Amegnran', 'Anie', 'CinkassÃ©', 'Kara', 'Korbongou', 'LomÃ©',
       'S.AntÃ£o', 'Accra', 'Tamale', 'Techiman', 'Mzuzu', 'Cochabamba',
       'La Paz', 'Oruro', 'Santa Cruz', 'Sucre', 'Tarija', 'Trinidad',
       'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai', 'Chennai', 'Hajjah',
       'Hodeidah', 'Sanaa', 'Yangon', 'Ibadan', 'Kano', 'Kaura Namoda',
       'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi', 'Gitega', "N'Djamena",
       'Bol', 'Moussoro', 'Ambato', 'Mekele', 'Diredawa', 'Bahirdar',
       'Guayaquil', 'Quito', 'Riobamba', 'Addis Ababa', 'Kumasi',
       'Bolgatanga', 'Kisumu', 'Eldoret', 'Liwonde', 'Lilongwe',
       'Nairobi', 'Zinder', 'Tillaberi', 'Niamey', 'Maradi', 'Dosso',
       'Mzimba', 'Nsanje', 'Agadez', 'Arusha', 'Masindi', 'Kabale',
       'Conakry', 'MedellÃ\xadn', 'Angonia', 'Chokwe', 'Gorongosa',
       'Manica', 'Maputo', 'Maxixe', 'Milange', 'Montepuez', 'Ribaue',
       'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa', 'Hargeisa',
       'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo', 'Marka',
       'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor', 'Gogrial',
       'Rumbek', 'Torit', 'Wau', 'Yambio', 'CuliacÃ¡n', 'Davao City',
       'Cebu', 'Rosario', 'Mato Grosso', 'Federal District', 'ParanÃ¡',
       'Rio Grande do Sul', 'Portoviejo', 'Cuenca', 'Cartagena',
       'BogotÃ¡', 'MetroManila', 'Katima', 'Gobabis', 'Keetmanshoop',
       'Mariental', 'Oshakati', 'Otjiwarongo', 'Swakopmund', 'Windhoek',
       'Ahmedabad', 'Bengaluru', 'Bhopal', 'Patna', 'Abeche', 'Moundou',
       'Sarh', 'Kaolack', 'Fatick', 'Diourbel', 'Dakar', 'El Gedarif',
       'Al-Fashir', 'Kolda', 'Louga', 'Matam', 'SaintLouis',
       'Tambacounda', 'Thies', 'Zguinchor', 'Al-Damazin', 'El Obeid',
       'Kadugli', 'Khartoum', 'Nyala', 'Port Sudan', 'Bobo Dioulasso',
       'Dori', 'DÃ©dougou', "Fada N'gourma", 'Kongoussi', 'Nouna',
       'Ouagadougou', 'Tenkodogo', 'Bamako', 'Gao', 'Kayes', 'Mopti',
       'Sikasso', 'SÃ©gou', 'Tombouctou', 'Iloilo', 'Nueva Ecija',
       'Khorugh', 'Khatlon', 'Dushanbe', 'Khujand', 'Kurgonteppa',
       'Sughd', 'Kampot', 'Dhaka', 'Phnom Penh', 'Kampong Chhnang',
       'Battambang', 'Banteay Meanchey', 'Multan', 'Karachi', 'Lahore',
       'Quetta', 'Kathmandu', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola',
       'Dinsoor', 'Kampong Cham', 'Barranquilla', 'Buenos Aires',
       'Peshawar', 'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'],
      dtype=object)

In [13]:
incorrect_city_list=["MedellÃn", "CuliacÃ¡n", "Federal District","ParanÃ¡","BogotÃ¡", "MetroManila", "CuliacÃ¡n",
"DÃ©dougou", "SÃ©gou","Tombouctou",'YaundÃ©', 'SÃ£o Paulo', 'AsunciÃ³n', 'S.Vincente', 'CinkassÃ©', 'LomÃ©', 'S.AntÃ£o','MedellÃ\xadn']
corrected_city_list = ["Medellín","Culiacán","Distrito Federal","Paraná","Bogotá","Metro Manila","Culiacán","Dédougou","Ségou"
                       ,"Timbuktu",'Yaoundé', 'São Paulo', 'Asunción', 'São Vicente', 'Cinkassé', 'Lomé', 'Santo Antão','Medellín']
#if we made this into a dictionary, where the incorrect cities would be the key and the correct cities would be the value, if 
#the market value is in the list of keys, then set the market value equal to correct value

cities_dict = dict(zip(incorrect_city_list, corrected_city_list))
cities_dict

{'MedellÃn': 'Medellín',
 'CuliacÃ¡n': 'Culiacán',
 'Federal District': 'Distrito Federal',
 'ParanÃ¡': 'Paraná',
 'BogotÃ¡': 'Bogotá',
 'MetroManila': 'Metro Manila',
 'DÃ©dougou': 'Dédougou',
 'SÃ©gou': 'Ségou',
 'Tombouctou': 'Timbuktu',
 'YaundÃ©': 'Yaoundé',
 'SÃ£o Paulo': 'São Paulo',
 'AsunciÃ³n': 'Asunción',
 'S.Vincente': 'São Vicente',
 'CinkassÃ©': 'Cinkassé',
 'LomÃ©': 'Lomé',
 'S.AntÃ£o': 'Santo Antão',
 'MedellÃ\xadn': 'Medellín'}

In [14]:
dom_clean_data['market'] = dom_clean_data['market'].replace(cities_dict)

In [15]:
dom_clean_data['market'].unique()

array(['Abidjan', 'Yaoundé', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Mombasa',
       'Nakuru', 'Ruhengeri', 'Dar es Salaam', 'Lira', 'Kampala',
       'Cap Haitien', 'Santo Domingo', 'Guatemala City', 'Ouanaminthe',
       'Les Cayes', 'Jeremie', 'Jacmel', 'Hinche', 'Port-au-Prince',
       'Guadalajara', 'Puebla', 'Mexico City', 'Xalapa', 'Panama City',
       'San Salvador', 'Garoua', 'San Pedro Sula', 'Tegucigalpa',
       'Managua (oriental)', 'Greater Buenos Aires', 'Aktau', 'Almaty',
       'Kostanay', 'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad',
       'Naryn', 'Osh', 'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii',
       'Jalalabad', 'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar',
       'Uvurkhangai', 'Potosi', 'Santiago', 'Bulawayo', 'Manicaland',
       'Harare', 'Mash east', 'Mash central', 'Masvingo', 'Mash west',
       'Lima', 'São Paulo', 'Mat north', 'Mat south', 'Midlands',
       'Hhohho', 'Manzini', 'Lubombo', 'Minsk', 'National average',
       'Shiselweni', 'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka',
       'Buchanan', 'Monrovia', 'Saclepea', 'Bo', 'Freetown', 'Kailahun',
       'Koinadugu', 'Juba', 'Kenema', 'Nampula', 'Luanda', 'Bangkok',
       'Asunción', 'Cotonou', 'São Vicente', 'Natitingou', 'Parakou',
       'Amegnran', 'Anie', 'Cinkassé', 'Kara', 'Korbongou', 'Lomé',
       'Santo Antão', 'Accra', 'Tamale', 'Techiman', 'Mzuzu',
       'Cochabamba', 'La Paz', 'Oruro', 'Santa Cruz', 'Sucre', 'Tarija',
       'Trinidad', 'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai',
       'Chennai', 'Hajjah', 'Hodeidah', 'Sanaa', 'Yangon', 'Ibadan',
       'Kano', 'Kaura Namoda', 'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi',
       'Gitega', "N'Djamena", 'Bol', 'Moussoro', 'Ambato', 'Mekele',
       'Diredawa', 'Bahirdar', 'Guayaquil', 'Quito', 'Riobamba',
       'Addis Ababa', 'Kumasi', 'Bolgatanga', 'Kisumu', 'Eldoret',
       'Liwonde', 'Lilongwe', 'Nairobi', 'Zinder', 'Tillaberi', 'Niamey',
       'Maradi', 'Dosso', 'Mzimba', 'Nsanje', 'Agadez', 'Arusha',
       'Masindi', 'Kabale', 'Conakry', 'Medellín', 'Angonia', 'Chokwe',
       'Gorongosa', 'Manica', 'Maputo', 'Maxixe', 'Milange', 'Montepuez',
       'Ribaue', 'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa',
       'Hargeisa', 'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo',
       'Marka', 'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor',
       'Gogrial', 'Rumbek', 'Torit', 'Wau', 'Yambio', 'Culiacán',
       'Davao City', 'Cebu', 'Rosario', 'Mato Grosso', 'Distrito Federal',
       'Paraná', 'Rio Grande do Sul', 'Portoviejo', 'Cuenca', 'Cartagena',
       'Bogotá', 'Metro Manila', 'Katima', 'Gobabis', 'Keetmanshoop',
       'Mariental', 'Oshakati', 'Otjiwarongo', 'Swakopmund', 'Windhoek',
       'Ahmedabad', 'Bengaluru', 'Bhopal', 'Patna', 'Abeche', 'Moundou',
       'Sarh', 'Kaolack', 'Fatick', 'Diourbel', 'Dakar', 'El Gedarif',
       'Al-Fashir', 'Kolda', 'Louga', 'Matam', 'SaintLouis',
       'Tambacounda', 'Thies', 'Zguinchor', 'Al-Damazin', 'El Obeid',
       'Kadugli', 'Khartoum', 'Nyala', 'Port Sudan', 'Bobo Dioulasso',
       'Dori', 'Dédougou', "Fada N'gourma", 'Kongoussi', 'Nouna',
       'Ouagadougou', 'Tenkodogo', 'Bamako', 'Gao', 'Kayes', 'Mopti',
       'Sikasso', 'Ségou', 'Timbuktu', 'Iloilo', 'Nueva Ecija', 'Khorugh',
       'Khatlon', 'Dushanbe', 'Khujand', 'Kurgonteppa', 'Sughd', 'Kampot',
       'Dhaka', 'Phnom Penh', 'Kampong Chhnang', 'Battambang',
       'Banteay Meanchey', 'Multan', 'Karachi', 'Lahore', 'Quetta',
       'Kathmandu', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola', 'Dinsoor',
       'Kampong Cham', 'Barranquilla', 'Buenos Aires', 'Peshawar',
       'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'], dtype=object)

In [16]:
dom_clean_data=dom_clean_data[['month','country','price_type','market','price']]

In [17]:
dom_clean_data.head()

      month        country price_type   market  price
1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   0.61
2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   0.59
3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   0.61
4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   0.63
5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   0.68

In [18]:
dom_clean_data.shape

(141772, 5)

In [19]:
int_clean_data.shape

(25496, 5)

In [20]:
int_clean_data=int_clean_data[['time','country','commodity','price']]

In [21]:
int_clean_data['country'].unique()

array(['Australia', 'Bangladesh', 'Black Sea', 'Brazil',
       'Brazil (Paranagua)', 'Canada (St Lawrence)', 'East Africa',
       'Europe and Oceania', 'EU (France)', 'EU (UK)', 'Kazakhstan',
       'FAO Tea Composite Price', 'ICE futures US', 'India',
       'Mombasa Auction', 'New Zealand', 'Philippines', 'Pakistan',
       'Russian Federation', 'Thailand', 'US', 'US (Kentucky)', 'Ukraine',
       'Unspecified', 'Uruguay', 'Viet Nam', 'Argentina (Up River)',
       'Central America', 'Thailand (Bangkok)', 'US (Gulf)'], dtype=object)

In [22]:
int_clean_data['commodity'].unique()

array(['Beef', 'Barley (feed)', 'Wheat', 'Jute', 'Maize (feed)',
       'Wheat (feed)', 'Wheat (milling)', 'Sisal', 'Butter',
       'Cheddar Cheese', 'Whole Milk Powder', 'Skim Milk Powder', 'Tea',
       'Sugar', 'Rice', 'Lamb', 'Coconut oil', 'Cassava Chips',
       'Cassava Flour/Starch', 'Groundnuts', 'Soybean', 'Maize',
       'Fish Meal', 'Fish oil', 'Groundnut oil', 'Rape oil', 'Rapeseed',
       'Rapeseed meal', 'Palm oil', 'Palmkernel meal', 'Soybean meal',
       'Soybean oil', 'Sunflower oil', 'Sunflowerseed',
       'Bananas (US East Coast)', 'Bananas (US West Coast)', 'Sorghum'],
      dtype=object)

In [23]:
int_clean_data[int_clean_data['commodity']=='Rape oil']

            time      country commodity price
4914  2020-06-01  Unspecified  Rape oil   NaN
4915  2020-05-01  Unspecified  Rape oil   NaN
4916  2020-04-01  Unspecified  Rape oil  0.77
4917  2020-03-01  Unspecified  Rape oil   0.8
4918  2020-02-01  Unspecified  Rape oil   0.9
...          ...          ...       ...   ...
5035  2010-05-01  Unspecified  Rape oil  0.86
5036  2010-04-01  Unspecified  Rape oil  0.91
5037  2010-03-01  Unspecified  Rape oil   0.9
5038  2010-02-01  Unspecified  Rape oil  0.89
5039  2010-01-01  Unspecified  Rape oil  0.92

[126 rows x 4 columns]

In [24]:
int_clean_data[int_clean_data['country']=='Unspecified']

            time      country      commodity price
4536  2020-06-01  Unspecified      Fish Meal   NaN
4537  2020-05-01  Unspecified      Fish Meal   NaN
4538  2020-04-01  Unspecified      Fish Meal  1.39
4539  2020-03-01  Unspecified      Fish Meal  1.41
4540  2020-02-01  Unspecified      Fish Meal  1.36
...          ...          ...            ...   ...
6047  2010-05-01  Unspecified  Sunflowerseed  0.49
6048  2010-04-01  Unspecified  Sunflowerseed  0.48
6049  2010-03-01  Unspecified  Sunflowerseed  0.46
6050  2010-02-01  Unspecified  Sunflowerseed  0.44
6051  2010-01-01  Unspecified  Sunflowerseed  0.43

[1516 rows x 4 columns]

In [25]:

int_clean_data_cleaned = int_clean_data[int_clean_data['country']!='Unspecified']

In [26]:
int_clean_data_cleaned['country'].unique()

array(['Australia', 'Bangladesh', 'Black Sea', 'Brazil',
       'Brazil (Paranagua)', 'Canada (St Lawrence)', 'East Africa',
       'Europe and Oceania', 'EU (France)', 'EU (UK)', 'Kazakhstan',
       'FAO Tea Composite Price', 'ICE futures US', 'India',
       'Mombasa Auction', 'New Zealand', 'Philippines', 'Pakistan',
       'Russian Federation', 'Thailand', 'US', 'US (Kentucky)', 'Ukraine',
       'Uruguay', 'Viet Nam', 'Argentina (Up River)', 'Central America',
       'Thailand (Bangkok)', 'US (Gulf)'], dtype=object)

In [27]:
int_clean_data_cleaned[int_clean_data_cleaned['country']=='ICE futures US'].shape

(126, 4)

In [28]:
int_clean_data_cleaned[int_clean_data_cleaned['country']=='FAO Tea Composite Price'].shape

(126, 4)

In [29]:
int_clean_data_cleaned = int_clean_data_cleaned[int_clean_data_cleaned['country']!='ICE futures US']
int_clean_data_cleaned = int_clean_data_cleaned[int_clean_data_cleaned['country']!='FAO Tea Composite Price']

In [30]:
int_clean_data_cleaned['country'].unique()

array(['Australia', 'Bangladesh', 'Black Sea', 'Brazil',
       'Brazil (Paranagua)', 'Canada (St Lawrence)', 'East Africa',
       'Europe and Oceania', 'EU (France)', 'EU (UK)', 'Kazakhstan',
       'India', 'Mombasa Auction', 'New Zealand', 'Philippines',
       'Pakistan', 'Russian Federation', 'Thailand', 'US',
       'US (Kentucky)', 'Ukraine', 'Uruguay', 'Viet Nam',
       'Argentina (Up River)', 'Central America', 'Thailand (Bangkok)',
       'US (Gulf)'], dtype=object)

In [31]:
oil_name_change={'Rape oil':'Rape Seed Oil'}


int_clean_data_cleaned['commodity'] = int_clean_data_cleaned['commodity'].replace(oil_name_change)

In [32]:
int_clean_data_cleaned['commodity'].unique()

array(['Beef', 'Barley (feed)', 'Wheat', 'Jute', 'Maize (feed)',
       'Wheat (feed)', 'Wheat (milling)', 'Sisal', 'Butter',
       'Cheddar Cheese', 'Whole Milk Powder', 'Skim Milk Powder', 'Rice',
       'Tea', 'Lamb', 'Coconut oil', 'Cassava Chips',
       'Cassava Flour/Starch', 'Groundnuts', 'Soybean', 'Maize',
       'Bananas (US East Coast)', 'Bananas (US West Coast)', 'Sorghum'],
      dtype=object)

In [33]:
int_clean_data_cleaned.head()

         time    country commodity price
0  2020-06-01  Australia      Beef  4.97
1  2020-05-01  Australia      Beef  5.07
2  2020-04-01  Australia      Beef  4.46
3  2020-03-01  Australia      Beef  4.39
4  2020-02-01  Australia      Beef  4.55

In [34]:
dom_change_data.head()
#dom_change_data["commodity"].unique()

,Unnamed: 0,country,price_type,market,commodity,percent,post_covid,yearly
0,0,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,NaN,-0.061538,-0.031746
1,1,Cameroon,Retail,YaundÃ©,Bananas (plantains),NaN,0.000000,0.000000
2,2,Cameroon,Retail,Bafoussam,Bananas (plantains),NaN,-0.305556,0.041667
3,3,Morocco,Retail,National Average,Barley (imported),NaN,-0.034483,-0.034483
4,4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),NaN,0.769231,0.232143

In [35]:
value_fix={'AttiÃ©kÃ©':'Attieke'}
dom_change_data['commodity'] = dom_change_data['commodity'].replace(value_fix)

In [36]:
dom_change_data["market"].unique()

array(['Abidjan', 'YaundÃ©', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Ruhengeri',
       'Dar es Salaam', 'Lira', 'Kampala', 'Cap Haitien', 'Santo Domingo',
       'Guatemala City', 'Ouanaminthe', 'Les Cayes', 'Jeremie', 'Jacmel',
       'Hinche', 'Port-au-Prince', 'Guadalajara', 'Puebla', 'Mexico City',
       'Xalapa', 'Panama City', 'San Salvador', 'Garoua',
       'San Pedro Sula', 'Tegucigalpa', 'Managua (oriental)',
       'Greater Buenos Aires', 'Aktau', 'Almaty', 'Kostanay',
       'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad', 'Naryn', 'Osh',
       'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii', 'Jalalabad',
       'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar', 'Uvurkhangai',
       'Potosi', 'Santiago', 'Bulawayo', 'Manicaland', 'Harare',
       'Mash east', 'Mash central', 'Masvingo', 'Mash west', 'Lima',
       'SÃ£o Paulo', 'Mat north', 'Mat south', 'Midlands', 'Hhohho',
       'Manzini', 'Lubombo', 'Minsk', 'National average', 'Shiselweni',
       'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka', 'Juba', 'Nampula',
       'Luanda', 'Bangkok', 'AsunciÃ³n', 'Cotonou', 'S.Vincente',
       'Natitingou', 'Parakou', 'Amegnran', 'Anie', 'CinkassÃ©', 'Kara',
       'Korbongou', 'LomÃ©', 'S.AntÃ£o', 'Accra', 'Tamale', 'Techiman',
       'Mzuzu', 'Cochabamba', 'La Paz', 'Oruro', 'Santa Cruz', 'Sucre',
       'Tarija', 'Trinidad', 'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai',
       'Chennai', 'Hajjah', 'Hodeidah', 'Yangon', 'Ibadan', 'Kano',
       'Kaura Namoda', 'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi',
       'Gitega', "N'Djamena", 'Bol', 'Moussoro', 'Ambato', 'Mekele',
       'Diredawa', 'Bahirdar', 'Guayaquil', 'Quito', 'Riobamba',
       'Addis Ababa', 'Kumasi', 'Bolgatanga', 'Kisumu', 'Eldoret',
       'Liwonde', 'Lilongwe', 'Nakuru', 'Nairobi', 'Mombasa', 'Zinder',
       'Tillaberi', 'Niamey', 'Maradi', 'Dosso', 'Mzimba', 'Nsanje',
       'Agadez', 'Arusha', 'Masindi', 'Kabale', 'Conakry', 'MedellÃ\xadn',
       'Angonia', 'Chokwe', 'Gorongosa', 'Manica', 'Maputo', 'Montepuez',
       'Ribaue', 'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa',
       'Hargeisa', 'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo',
       'Marka', 'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor',
       'Gogrial', 'Rumbek', 'Torit', 'Wau', 'Yambio', 'CuliacÃ¡n',
       'Davao City', 'Cebu', 'Rosario', 'Mato Grosso', 'Federal District',
       'ParanÃ¡', 'Rio Grande do Sul', 'Portoviejo', 'Cuenca',
       'Cartagena', 'BogotÃ¡', 'MetroManila', 'Katima', 'Gobabis',
       'Keetmanshoop', 'Mariental', 'Oshakati', 'Otjiwarongo',
       'Swakopmund', 'Windhoek', 'Ahmedabad', 'Bengaluru', 'Bhopal',
       'Patna', 'Abeche', 'Moundou', 'Sarh', 'Kaolack', 'Fatick',
       'Diourbel', 'Dakar', 'El Gedarif', 'Al-Fashir', 'Kolda', 'Louga',
       'Matam', 'SaintLouis', 'Tambacounda', 'Thies', 'Zguinchor',
       'Al-Damazin', 'El Obeid', 'Kadugli', 'Khartoum', 'Nyala',
       'Port Sudan', 'Bobo Dioulasso', 'Dori', 'DÃ©dougou',
       "Fada N'gourma", 'Kongoussi', 'Nouna', 'Ouagadougou', 'Tenkodogo',
       'Bamako', 'Gao', 'Kayes', 'Mopti', 'Sikasso', 'SÃ©gou',
       'Tombouctou', 'Bo', 'Freetown', 'Kailahun', 'Kenema', 'Koinadugu',
       'Iloilo', 'Nueva Ecija', 'Khorugh', 'Khatlon', 'Dushanbe',
       'Khujand', 'Kurgonteppa', 'Sughd', 'Kampot', 'Maxixe', 'Dhaka',
       'Phnom Penh', 'Kampong Chhnang', 'Battambang', 'Banteay Meanchey',
       'Multan', 'Karachi', 'Lahore', 'Quetta', 'Kathmandu', 'Saclepea',
       'Monrovia', 'Buchanan', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola',
       'Dinsoor', 'Kampong Cham', 'Barranquilla', 'Buenos Aires',
       'Peshawar', 'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'],
      dtype=object)

In [37]:
dom_change_data['market'] = dom_change_data['market'].replace(cities_dict)

In [38]:
#note to self, as long as dom change data is in the first notebook, please delete all references to dom_change_data

dom_change_data["market"].unique()

array(['Abidjan', 'Yaoundé', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Ruhengeri',
       'Dar es Salaam', 'Lira', 'Kampala', 'Cap Haitien', 'Santo Domingo',
       'Guatemala City', 'Ouanaminthe', 'Les Cayes', 'Jeremie', 'Jacmel',
       'Hinche', 'Port-au-Prince', 'Guadalajara', 'Puebla', 'Mexico City',
       'Xalapa', 'Panama City', 'San Salvador', 'Garoua',
       'San Pedro Sula', 'Tegucigalpa', 'Managua (oriental)',
       'Greater Buenos Aires', 'Aktau', 'Almaty', 'Kostanay',
       'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad', 'Naryn', 'Osh',
       'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii', 'Jalalabad',
       'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar', 'Uvurkhangai',
       'Potosi', 'Santiago', 'Bulawayo', 'Manicaland', 'Harare',
       'Mash east', 'Mash central', 'Masvingo', 'Mash west', 'Lima',
       'São Paulo', 'Mat north', 'Mat south', 'Midlands', 'Hhohho',
       'Manzini', 'Lubombo', 'Minsk', 'National average', 'Shiselweni',
       'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka', 'Juba', 'Nampula',
       'Luanda', 'Bangkok', 'Asunción', 'Cotonou', 'São Vicente',
       'Natitingou', 'Parakou', 'Amegnran', 'Anie', 'Cinkassé', 'Kara',
       'Korbongou', 'Lomé', 'Santo Antão', 'Accra', 'Tamale', 'Techiman',
       'Mzuzu', 'Cochabamba', 'La Paz', 'Oruro', 'Santa Cruz', 'Sucre',
       'Tarija', 'Trinidad', 'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai',
       'Chennai', 'Hajjah', 'Hodeidah', 'Yangon', 'Ibadan', 'Kano',
       'Kaura Namoda', 'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi',
       'Gitega', "N'Djamena", 'Bol', 'Moussoro', 'Ambato', 'Mekele',
       'Diredawa', 'Bahirdar', 'Guayaquil', 'Quito', 'Riobamba',
       'Addis Ababa', 'Kumasi', 'Bolgatanga', 'Kisumu', 'Eldoret',
       'Liwonde', 'Lilongwe', 'Nakuru', 'Nairobi', 'Mombasa', 'Zinder',
       'Tillaberi', 'Niamey', 'Maradi', 'Dosso', 'Mzimba', 'Nsanje',
       'Agadez', 'Arusha', 'Masindi', 'Kabale', 'Conakry', 'Medellín',
       'Angonia', 'Chokwe', 'Gorongosa', 'Manica', 'Maputo', 'Montepuez',
       'Ribaue', 'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa',
       'Hargeisa', 'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo',
       'Marka', 'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor',
       'Gogrial', 'Rumbek', 'Torit', 'Wau', 'Yambio', 'Culiacán',
       'Davao City', 'Cebu', 'Rosario', 'Mato Grosso', 'Distrito Federal',
       'Paraná', 'Rio Grande do Sul', 'Portoviejo', 'Cuenca', 'Cartagena',
       'Bogotá', 'Metro Manila', 'Katima', 'Gobabis', 'Keetmanshoop',
       'Mariental', 'Oshakati', 'Otjiwarongo', 'Swakopmund', 'Windhoek',
       'Ahmedabad', 'Bengaluru', 'Bhopal', 'Patna', 'Abeche', 'Moundou',
       'Sarh', 'Kaolack', 'Fatick', 'Diourbel', 'Dakar', 'El Gedarif',
       'Al-Fashir', 'Kolda', 'Louga', 'Matam', 'SaintLouis',
       'Tambacounda', 'Thies', 'Zguinchor', 'Al-Damazin', 'El Obeid',
       'Kadugli', 'Khartoum', 'Nyala', 'Port Sudan', 'Bobo Dioulasso',
       'Dori', 'Dédougou', "Fada N'gourma", 'Kongoussi', 'Nouna',
       'Ouagadougou', 'Tenkodogo', 'Bamako', 'Gao', 'Kayes', 'Mopti',
       'Sikasso', 'Ségou', 'Timbuktu', 'Bo', 'Freetown', 'Kailahun',
       'Kenema', 'Koinadugu', 'Iloilo', 'Nueva Ecija', 'Khorugh',
       'Khatlon', 'Dushanbe', 'Khujand', 'Kurgonteppa', 'Sughd', 'Kampot',
       'Maxixe', 'Dhaka', 'Phnom Penh', 'Kampong Chhnang', 'Battambang',
       'Banteay Meanchey', 'Multan', 'Karachi', 'Lahore', 'Quetta',
       'Kathmandu', 'Saclepea', 'Monrovia', 'Buchanan', 'Bossaso',
       'Lasanod', 'Colombo', 'Dongola', 'Dinsoor', 'Kampong Cham',
       'Barranquilla', 'Buenos Aires', 'Peshawar', 'Bale Robe',
       'Debre Marcos', 'Jimma', 'Shashemene'], dtype=object)

In [39]:
int_clean_data_cleaned['price'].replace(',','', regex=True, inplace=True)

In [42]:
dom_clean_data
dom_clean_data.to_csv("new_dom_clean_data.csv",index=False)

int_clean_data_cleaned.to_csv("cleaned_resources/int_clean_data_cleaned.csv",index=False)

In [41]:
dom_clean_data.head()

      month        country price_type   market  price
1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   0.61
2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   0.59
3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   0.61
4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   0.63
5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   0.68